{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block body %}

    <div class="container">
      <h2>Contact Us</h2>
      <form method="POST" action="/contact">
        <div class="form-group">
          <label for="Name">Name:</label>
          <input type="text" class="form-control" id="Name" name="Name" required>
        </div>
        <div class="form-group">
          <label for="Email">Email address:</label>
          <input type="email" class="form-control" id="Email" name="Email" required>
        </div>
        <div class="form-group">
          <label for="Message">Message:</label>
          <textarea class="form-control" id="Message" name="Message" rows="5" required></textarea>
        </div>
        <div class="form-group">
          <label for="CreatedOnDate">Created On Date:</label>
          <input type="date" class="form-control" id="CreatedOnDate" name="CreatedOnDate" required>
        </div>
        <div class="form-group">
          <label for="InstagramLink">Instagram Link:</label>
          <input type="text" class="form-control" id="InstagramLink" name="InstagramLink">
        </div>
        <div class="form-group">
          <label for="TwitterLink">Twitter Link:</label>
          <input type="text" class="form-control" id="TwitterLink" name="TwitterLink">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

{% endblock %}